.trackRow {
  position: relative;
  display: flex;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--gray-100);
  transition: background-color 150ms ease-in-out;
}

.green {
  background-color: var(--green-100);
}

.red {
  background-color: var(--red-100);
}
